<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="141" android:versionName="1.4.1"
    package="cn.kyle.ms2toolbox" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".SettingsPreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListView"/>
        <activity android:name=".FontView" android:theme="@android:style/Theme.Dialog"/>
        <receiver android:name=".MyReceiver">  
			<intent-filter>  
	    		<action android:name="android.intent.action.BOOT_COMPLETED"/>  
	    		<action android:name="android.net.wifi.STATE_CHANGE"/> 
	    		<action android:name="android.intent.action.PHONE_STATE"/> 
				<category android:name="android.intent.category.HOME" />  
			</intent-filter>   
		</receiver> 
		<activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/flashlight" 
			android:icon="@drawable/flashlight" android:name=".FlashLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/lockscreen" 
			android:icon="@drawable/lockscreen" android:name=".LockScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>  
	
</manifest>
